
header h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: #186F65;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7FFE5;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;

}

header {
  background-color: #F7FFE5;
  margin: auto -16px;
  padding: 16px 32px 0 32px;
  text-align: center;
}

.container {
  width: 640px;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  margin: 30px auto;
  background-color: #EAD7BB;
  padding: 16px;
}

footer p {
  color: #186F65;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

input {
  margin-left: 25%;
  margin-right: 10px;
  height: 25px;
  font-family: 'Poppins', sans-serif;

}


button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  padding: 10px 10px;
  line-height: 10px;
  vertical-align: middle;
  border: 1px solid;
  border-radius: 6px;
  color: #186F65;
  background-color: #fafbfc;
  border-color: #1b1f2326;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
}

.download-button{
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: 'Poppins', sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.tHeader{
  margin-top: 10px;
}


.sort-button{
  margin-left: 10px;
  border-radius: 20px;
  color: #fafbfc;
  background-color: #186F65;
  border: none;
  line-height: 8px;
}

.details{
  font-weight: 100;
}

.loading{
  width: 400px;  
  height: 400px;
  margin-left: 100px;
}